<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V18</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
    <link rel="icon" type="image/png" href="{{ url_for('static', path='images/icons/favicon.ico') }}"/>
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/theme-assets/css/bootstrap.min.css') }}">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='fonts/Linearicons-Free-v1.0.0/icon-font.min.css') }}">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='theme-assets/vendors/css/animate/animate.css') }}">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='theme-assets/vendors/css/css-hamburgers/hamburgers.min.css') }}">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='theme-assets/vendors/css/animsition/animsition.min.css') }}">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='theme-assets/vendors/css/select2/select2.min.css') }}">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='theme-assets/vendors/css/daterangepicker/daterangepicker.css') }}">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='css/login_util.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='css/login.css') }}">
<!--===============================================================================================-->
</head>
<body style="background-color: #666666;">

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form method="post" class="login100-form validate-form">
					<span class="login100-form-title p-b-43">
						Login to continue
					</span>
                    <span class="error">
                    {% if errors %}
                        {% for error in errors %}
                            <p>{{error}}</p>
                        {% endfor %}
                    {% else %}
                    {% endif %}
                    </span>

					<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
                        <input class="input100" type="text" name="email" value={{email}}>
						<span class="focus-input100"></span>
						<span class="label-input100">Email</span>
					</div>


					<div class="wrap-input100 validate-input" data-validate="Password is required">
                        <input class="input100" type="password" name="password" value={{password}} name="password">
						<span class="focus-input100"></span>
						<span class="label-input100">Password</span>
					</div>

					<div class="flex-sb-m w-full p-t-3 p-b-32">
						<div class="contact100-form-checkbox">
							<input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
							<label class="label-checkbox100" for="ckb1">
								Remember me
							</label>
						</div>

						<div>
							<a href="#" class="txt1">
								Forgot Password?
							</a>
						</div>
					</div>


					<div class="container-login100-form-btn">
						<button type="submit" class="login100-form-btn">
							Login
						</button>
					</div>

					<div class="text-center p-t-46 p-b-20">
						<span class="txt2">
							or sign up using
						</span>
					</div>

					<div class="login100-form-social flex-c-m">
						<a href="#" class="login100-form-social-item flex-c-m bg1 m-r-5">
							<i class="fa fa-facebook-f" aria-hidden="true"></i>
						</a>

						<a href="#" class="login100-form-social-item flex-c-m bg2 m-r-5">
							<i class="fa fa-twitter" aria-hidden="true"></i>
						</a>
					</div>
				</form>

                <div class="login100-more" style="background-image: url('{{ url_for("static", path="images/bg-01.jpg") }}');">
				</div>
			</div>
		</div>
	</div>





<!--===============================================================================================-->
    <script src="{{ url_for('static', path='theme-assets/js/core/libraries/jquery.min.js') }}"></script>
<!--===============================================================================================-->
    <script src="{{ url_for('static', path='theme-assets/vendors/js/animsition/animsition.min.js') }}"></script>
<!--===============================================================================================-->
    <script src="{{ url_for('static', path='theme-assets/js/core/libraries/popper.min.js') }}"></script>
    <script src="{{ url_for('static', path='theme-assets/js/core/libraries/bootstrap.min.js') }}"></script>
<!--===============================================================================================-->
    <script src="{{ url_for('static', path='theme-assets/vendors/js/select2/select2.min.js') }}"></script>
<!--===============================================================================================-->
    <script src="{{ url_for('static', path='theme-assets/vendors/js/daterangepicker/moment.min.js') }}"></script>
    <script src="{{ url_for('static', path='theme-assets/vendors/js/daterangepicker/daterangepicker.js') }}"></script>
<!--===============================================================================================-->
    <script src="{{ url_for('static', path='theme-assets/vendors/js/countdowntime/countdowntime.js') }}"></script>
<!--===============================================================================================-->

</body>
</html>
